@model GraduationProject.ViewModels.InputDocument.InputDocumnetDetailsViewModel

@{
    ViewData["Title"] = "تفاصيل السند";
}
<link href="~/css/button.css" rel="stylesheet" />
<link href="~/css/DetailsInputDocumentDetails.css" rel="stylesheet" />
<h1 class="tableheader"> سند إدخال المواد في تاريخ @Model.CreatedAt.Date.ToString("dd/M/yyyy")</h1>
<div>
    <div class="table-responsive">
        <table class="styled-table" id="managmentTable">
            <thead>
                <tr>
                    <th style="padding-left:80px" onclick="sortTable(0)">
                        رمز المادة
                    </th>
                    <th onclick="sortTable(1)">
                        اسم المادة
                    </th>
                    <th onclick="sortTable(2)">
                        الكمية
                    </th>
                    <th onclick="sortTable(3)">
                        المصدر
                    </th>
                    <th onclick="sortTable(4)">
                        المورد
                    </th>
                    <th onclick="sortTable(5)">
                        العلامة التجارية
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.InputDocumentDetails)
                {
                    string statuscode = item.Item.BarCode.Substring(0, 1);
                    string maincategory = item.Item.BarCode.Substring(1, 2);
                    string subcategory = item.Item.BarCode.Substring(3, 3);
                    string serial = item.Item.BarCode.Substring(6, 4);
                    string barcode = serial + " " + subcategory + " " + maincategory + " " + statuscode;
                <tr>
                    <td>
                        @barcode
                    </td>
                    <td>
                        @item.Item.Name
                    </td>
                    <td>
                        @item.Quantity
                    </td>
                    <td>
                        @item.Source
                    </td>
                    <td>
                        @item.Supplier
                    </td>
                    <td>
                        @item.Brand
                    </td>
                </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


