@model GraduationProject.ViewModels.Items.ExcededMinimumRangeViewModel

@{
    ViewData["Title"] = "المواد التي تخطت الحد الأدنى";
}
<link href="~/css/ExcededMinmumRange.css" rel="stylesheet" />
<script src="~/lib/Chart.js/chart.min.js"></script>
<ul class="tilesWrap">
    @for (int i = 0; i < Model.Itemsname.Count; i++)
    {
        <li>
            <h2>@i</h2>
            <h3 class="names">@Model.Itemsname[i]</h3>
            <p class="counts">@Model.ItemsCountofExcededMinimumRange[i]</p>
        </li>

    }
</ul>
<div class="center">
        <canvas id="myChart" style="width:100%;max-width:800px"></canvas>
    </div>
<script>

    var listofnames = document.getElementsByClassName("names");
    var xValues = [];

    for (var i = 0; i < listofnames.length; i++) {
        xValues.push(listofnames[i].innerText);
    }

    Chart.defaults.font.size = 20;

    @*@foreach (var d in Model.Itemsname)
    {
        @:xValues.push("@d");
    }*@
    var yValues = [];
    @foreach (var d in Model.ItemsCountofExcededMinimumRange)
    {
        @:yValues.push("@d");
    }

    //for (var i = 0; i < xValues.length; i++) {
    //    console.log("sd" + xValues[i]);
    //}
    new Chart("myChart", {
        type: "bar",
        // to flip bar
        //options: {
        //    indexAxis: 'y',
        //},
        data: {
            labels: xValues,
            datasets: [{
                label: 'المواد التي تخطت الحد الأدنى',
                backgroundColor: [
                    'rgba(255, 99, 132, 0.3)',
                    'rgba(255, 159, 64, 0.3)',
                    'rgba(255, 205, 86, 0.3)',
                    'rgba(75, 192, 192, 0.3)',
                    'rgba(54, 162, 235, 0.3)',
                    'rgba(153, 102, 255, 0.3)',
                    'rgba(201, 203, 207, 0.3)',
                'rgba(17, 77, 16, 1)',
                'rgba(25, 25, 112, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(255, 87, 51, 1)',
                    'rgba(184, 28, 28, 1)',
                    'rgba(17, 77, 16, 1)',
                    'rgba(25, 25, 112, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(255, 87, 51, 1)',
                    'rgba(184, 28, 28, 1)',
                    'rgba(17, 77, 16, 1)',
                    'rgba(25, 25, 112, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(255, 87, 51, 1)',
                    'rgba(184, 28, 28, 1)',
                ],
                data: yValues,
                borderColor: '#777',
                hoverBorderWidth: 2,
                hoverBorderColor: '#000',
                borderWidth: 2
            }]
        },
        //options: {
        //    legend: { display: false },
        //    title: {
        //        display: true,
        //        text: "المواد التي تخطت الحد الأدنى",
        //    },
        //}
    });
</script>
