@model List<GraduationProject.ViewModels.WareHouse.haventbeenoutputed>
<form asp-action="HaventBeenOutputed" method="post">
    <label>  أدخل التاريخ الابتدائي لمعرفة المواد التي لم يتم تخريجها  </label>
    <input type="datetime-local" name="period" />
    <input type="submit" value=" استعراض " />
</form>
<br />
<table class="styled-table">
    <thead>
        <tr>
            <th>الطلب</th>
            <th>المواد</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var i in Model)
            {
        <tr>
            <td>@i.Order.User.RequstingParty</td>
            @i.
            @foreach (var items in i.items)
            {
                <p>@items.item.Name </p>
                <p>@items.recentQuantity </p>
                <p>@items.Createdat </p>



            }
        </tr>
                <br />
            }
        }

        else
        {
            <tr>
                <td>@ViewBag.Empty </td>
            </tr>
        }
    </tbody>
</table>
@ViewBag.period