@model List<GraduationProject.ViewModels.UnplannedCommentsViewModel>
@{
    var OrderId = ViewBag.OrderId;
}
<link href="~/css/button.css" rel="stylesheet" />
<link href="~/css/tableformanagment.css" rel="stylesheet" />
<h1 class="tableheader">تفاصيل طلب الإحتياج غير المخطط</h1>


<form method="post" asp-action="Index" asp-route-OrderId="@OrderId">
    <div class="table-responsive">
        <table class="styled-table">
            <thead>
                <tr>
                    <th> المادة </th>
                    <th> المواصفات </th>
                    <th> الكمية</th>
                    <th> السبب </th>
                    <th>  التعليقات </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count; i++)
                {
                    <tr>
                        <td>@Model[i].ItemName</td>
                        <td>@Model[i].Description</td>
                        <td>@Model[i].Quantity</td>
                        <td>@Model[i].Reason</td>
                        <td><input class="inputs" asp-for="@Model[i].Comment" /></td>
                        <td><input hidden asp-for="@Model[i].UnplannedOrderID" /></td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
    <br />
    <button class="update-icon-btn" id="submit" type="submit">إضافة التعليقات<h1 class="update-btn-text">وإعادة إرسال الطلب</h1></button>
</form>

<div class="alert alert-danger" id="error-div" style="color:black; text-align:center; width:50%; right:25%; display:none;">
    <span id="view-err">

    </span>
</div>

<br />
<form method="post" asp-action="ApproveOrder" asp-route-id=@OrderId>
    <button class="create-icon-btn" type="submit">الموافقة </button>
</form>
<br />

<a class="back-icon-btn" asp-controller="VPOrder" asp-action="Unplanned">العودة إلى الطلبات</a>


@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script>
        var inputs = document.getElementsByClassName("inputs");
        $(function () {
            $("#submit").click(function () {
                var isvalid = true;
                for (var i = 0; i < inputs.length; i++) {
                    if (inputs[i].value == "") {
                        continue;
                    }
                    else {
                        isvalid = false;
                    }
                }
                var div = document.getElementById('error-div');
                if (isvalid) {
                    div.innerHTML = 'يجب إدخال تعليق واحد على الأقل';
                    $("#error-div").fadeIn();
                    return false;
                }
            });
        });
    </script>
}





